@{ ViewData["Title"] ="Brincadeiras"; }

    <div class="Audio">
        <audio controls>
            <source src="~/Audio/Brincadeiras.mp3" type="audio/mpeg">
        </audio>
    </div>

    <div class=" container container-text">
         <h2>A importância do brincar</h2>
         <p>Quando a criança brinca, ela se apropria da cultura ao experimentar a imaginação, a interpretação e a construção de significados para diferentes situações.</p>

        <p>Então, nada mais incrível do que aliar a criatividade aos estímulos importantes a cada idade da criança e cativar a atenção delas, não é mesmo?</p>

        <p>Contudo, para crianças autistas, as brincadeiras precisam ser minimamente analisadas, e as brincadeiras sensoriais se tornam poderosas aliadas, pois podem colaborar para o desenvolvimento social, ajudar a criar mecanismos de comunicação e reduzir comportamentos repetitivos.</p>

        <p>Assim, todas das brincadeiras que você aprenderá aqui, pretendem oferecer tanto estímulos sensoriais, tão necessários para crianças com autismo, quanto agirem como ferramentas de coordenação motora, linguagem e interação.</p>

        <img src="~/images/conteudo/children.jpg" alt="Crianças brincando" class="align-middle">

        <h2>A educação dos pequenos</h2>
        Quando a criança brinca, ela se apropria da cultura ao experimentar a imaginação, a interpretação e a construção de significados para diferentes situações.

        <p>Então, nada mais incrível do que aliar a criatividade aos estímulos importantes a cada idade da criança e cativar a atenção delas, não é mesmo?</p>

        <p>Contudo, para crianças autistas, as brincadeiras precisam ser minimamente analisadas, e as brincadeiras sensoriais se tornam poderosas aliadas, pois podem colaborar para o desenvolvimento social, ajudar a criar mecanismos de comunicação e reduzir comportamentos repetitivos.</p>

        <p>Assim, todas das brincadeiras que você aprenderá aqui, pretendem oferecer tanto estímulos sensoriais, tão necessários para crianças com autismo, quanto agirem como ferramentas de coordenação motora, linguagem e interação.</p>

        <h2>Brincadeiras</h2>
        <h3>Dia da Fantasia</h3>

        <img src="~/images/conteudo/fantasias.png" alt="Fantasias">

        <p>Estipule o Dia da Fantasia! Neste dia, a criança deverá se vestir de algum personagem favorito ou até mesmo criar algum adorno correspondente, e assim, contar às outras crianças por que o escolheu, as características da veste e do personagem.</p>

        <h3>Caça ao tesouro</h3>

        <img src="~/images/conteudo/Piratas.jpg" alt="Pirata">

        <p>Esconda um objeto em qualquer local. Depois, crie um mapa simples do espaço onde vocês estão e então leve a criança para uma busca cheia de desafios e surpresas.</p>

        <h3>Mimica</h3>

        <img src="~/images/conteudo/Mimica.jpg" alt="Mimica">
        <p>O jogo da mimica é excelente para este contexto, ao fazer com que as crianças encenem personagens ou objetos do mundo cotidiano, você estimula não somente a imaginção das mesmas mas a sua capacidade se expressar e de identificar diferentes emoções nas pessoas ao redor</p>
    </div>


