 @{
    ViewData["Title"] = "Educativo";
}
 <div class="Audio">
        <audio controls>
            <source src="~/Audio/Educativo.mp3" type="audio/mpeg">
        </audio>
  </div>

  <div class="container container-text">
    <h2>Autismo</h2>
    <p>Autismo? Essa palavra te parece estranha ou é parte do seu dia a dia? É provável que você já conheça a condição, ou que pelo menos já tenha ouvido falar nela. Muitas pessoas precisam lidar com transtorno durante a vida, por isso, é muito importante que cada um de nós saiba como lidar com o autismo.</p>

    <img src="~/images/conteudo/Caracteristicas.png" alt="Garota com tea">

    <p>As pessoas que nascem com o Transtorno do Espectro Autista (TEA), dependendo da gravidade do transtorno, são capazes de realizar todo tipo de tarefas na sociedade: ter autonomia, estudar, trabalhar, ter relacionamentos pessoais, entrar no mercado de trabalho, entre outras coisas, porém, com peculiaridades no comportamento que podem parecer estranhas, num primeiro momento. Mas com respeito, educação e conhecimento, o mundo desses indivíduos pode se tornar mais confortável e livre de preconceitos.</p>

    <h2>O que é o autismo</h2>
    <p>Então, antes de qualquer coisa, uma breve explicação sobre o que é o Autismo: o autismo é um transtorno do neurodesenvolvimento, normalmente identificado nos primeiros anos de vida. O indivíduo identificado pelo médico com TEA, não aparenta nada diferente dos padrões no aspecto físico, como na síndrome de Down, por exemplo (exceto se o sintoma de autismo fizer parte de uma síndrome genética, como nos indivíduos com a síndrome do X-Frágil, em que há sintomas do autismo). Entretanto, podem demonstrar dificuldades para estabelecer e desenvolver relacionamento com as outras pessoas. Ou seja, os prejuízos na interação social são características marcantes nos indivíduos com TEA.</p>

    <img src="~/images/conteudo/adolescente-tea.png" alt="Adolescente com tea">

    <p>Pode ser que você já tenha estado com um autista e dado conta de que ele (ou ela) parecia muito, muito tímido. Ou pode ser que você tenha estranhado o isolamento de alguém numa situação onde, aparentemente, nada impedia que aquela pessoa se comportasse de forma “normal”. Por isso, neste texto, você vai descobrir que estas não são as únicas características de um autista, e que tudo depende do grau de autismo em cada pessoa.</p>

    <h2>Principais características</h2>

    <p>As pessoas portadoras do Trantorno do espectro autista possuem características em sua personalidade e no seu comportamento que podem identificá-la com tal Transtorno:</p>
    <ul>
        <li>Dificuldade de comunicação</li>
        <li>Prazer no isolamento</li>
        <li>Repúdio ao toque fisíco</li>
        <li>Atraso significativo na fala</li>
        <li>Grande dificuldade de concentração</li>
        <li>Obsessão em assuntos muito específicos</li>
    </ul>

    <p>Vale ressaltar que o acompanhamento médico é impressindivel para o diagnóstico e que os fatores acima são apenas preditores de risco que não dispensam uma consulta médica</p>

    <h2>Como o autismo foi descoberto</h2>

    <p>A literatura psiquiátrica, narra que a palavra autismo é proveniente do grego “autos“, que significa “eu mesmo”.</p>

    <p>O termo foi usado pelo médico suíço Eugen Bleuler em 1912 para descrever o comportamento de algumas pessoas posteriormente diagnosticadas como esquizofrênicas, as quais eram desapegadas de tudo, exceto de seu mundo interno.</p>

    <p>ogo após, Leo Kanner [1894-1981], pai do conhecimento sobre o autismo, utilizo aquela palavra no relatório de suas pesquisas.</p>

    <img src="~/images/conteudo/Kanner.jpg" alt="">

    <p>Em seu artigo Distúrbios Autistas de Contato Afetivo, publicado em 1943, Kanner descreve 11 crianças diferentes entre si todas nascidas nos anos 1930 que, não obstante, acreditava terem muito em comum, pois compartilhavam o que ele denominava “autismo infantil”.</p>

    <p>Kanner argumentava que essas crianças eram essencialmente diferentes dos esquizofrênicos por que eles não tinham alucinações ou ilusões, além disso, a esquizofrenia raramente aparecia no início da infância.</p>

    <p>Desde aquela descrição, feita por Kanner em 1943, um número considerável de autistas foi diagnosticado como portador desse “tipo de esquizofrenia infantil” até mesmo nos anos 1970.</p>

    <p>Principalmente, devido a que essa era a única categoria oficial da Associação Americana de Psiquiatria [AAP], que mencionava a palavra “autista”.</p>

    <p>Antes de Kanner, a palavra “autista” referia-se a um sintoma e não a um síndrome ou distúrbio mental.</p>

    <p>Kanner acreditava que seus pacientes tinham autismo desde o nascimento, ele se recusava a aceitar que o autismo era produto do isolamento da criança depois de uma atitude anterior participativa.</p>

  </div>