@{
    ViewData["Title"] = "Pais";
}
<div class="Audio">
        <audio controls>
            <source src="~/Audio/Pais.mp3" type="audio/mpeg">
        </audio>
    </div>

<div class="container container-text">
    <h2>Autismo - Como lidar</h2>
    <p>Assim como qualquer tipo de condição especial, é necessário saber como lidar com a pessoa portadora do mesmo, neste artigo iremos descrever algumas maneiras de como lidar com as pessoas, portadoras do transtorno do espectro autista</p>

    <h2>Tenha cuidado com o toque e com as palavras</h2>
    <p>Tente entender como essas coisas atingem o autista, pois eles podem ser mais sensíveis ao toque do que as pessoas normalmente são. Ao explicar as coisas para um autista, evite usar ironias, expressões de duplo sentido ou termos muito abstratos. Grande parte dos autistas entendem as coisas de forma muito direta e objetiva e sinais não verbais como “piscadinhas” ou gestos podem não ser óbvios para eles.</p>

    <img src="~/images/conteudo/medo.jpg" alt="Criança assustada">

    <h2>Aja com delicadeza</h2>
    <p>Os autistas podem se incomodar com barulhos, confusão e quebras na rotina. Portanto, tenha sempre uma postura que acalme em vez de agitar. Não visite a casa de uma família com um autista sem agendar antes, e também não desmarque nada em cima da hora.</p>

    <h2>Estimule-os a interagir com as pessoas</h2>
    <p>Faça isso mantendo por perto algo que interesse à criança, mas sem entregá-lo totalmente, para que ele se veja na situação em que a única opção é se comunicar e pedir ajuda.</p>

    <img src="~/images/conteudo/autismo-2.png" alt="Criança autista">

    <h2>ensine-os-os as se comunicarem</h2>
    <p>Muitos autistas são altamente estimulados por coisas mais visuais. Por isso, pode ser que o ensino funcione melhor com desenhos, gestos, fotos, vídeos ou qualquer outro meio que chame mais atenção do que simplesmente falar.</p>

    <h2>Imponha limites</h2>

    <img src="~/images/conteudo/interacao.jpg" alt="Crianças interagindo">
    <p>Essa dica é principalmente para os pais. As crianças com TEA terão dificuldade de entender regras e limites, mas ainda assim precisam entender, desde cedo, o que é permitido e o que não é nos ambientes onde ele circula.</p>
</div>