@{
    ViewData["Title"] = "Sobre";
}
  <div class="container">
      <div class="container-text">
               <div class="school">
                   <h1>Projeto Autistic</h1>
                       <div class="row" >
                           <div class="col-sm img-profile"><img src="../../images/profile/CPS.png" alt="Logo CPS"></div>
                           <div class="col-sm img-profile"><img src="../../images/profile/ETEC_DANS.png" alt="Logo ETEC"></div>
                       </div>
                   </div>
                   <div>
                    <div>
                        <h2>Visão geral</h2>
                        <div class="d-flex">
                            <img src="~/images/logo/LogoF.png" alt="Logo do nosso site" class="img-profile">
                            <p style="margin-top: 6%; margin-left:4%; ">O projeto Astistic foi criado como sendo o nosso Trabalho de conclusão de curso(TCC), para o nosso curso, Análise e desenvolvimento de sistemas, tendo sido feito com todo o empenho e carinho de cada integrante de nossa equipe</p>
                        </div>

                        <p>O projeto foi idealizado com o objetivo de combater o preconceito e a marginalização das pessoas portadoras de TEA (Transtorno do espectro autista), através da divulgação de conteúdo on-line explicativo que vai desde o ponto inicial do que é o TEA até a maneira correta de lidar com as pessoas portadoras deta deficiência, bem como auxiliar no diagnóstico da tal.</p>
                    </div>
                       <div>
                               <div class="profile">
                                   <h2 class="h2-profile">Julia Vitória Henojo</h2>
                                   <div class="d-flex">
                                       <img src="~/images/profile/jh_resized.jpeg" alt="Foto de perfil" class="img-profile">
                                       <p class="img-p">Desenvolvedora do banco de dados da aplicação, como tecnologia para tal desenvolvimento decidimos utilizar o EF Core (Entity Framework Core) da Microsoft, para o gerenciamento do nosso banco e como, servidor para armazenagem dos dados de maneira geral utilizamos o SQL Server</p>
                                   </div>
                               </div>
      
                           
                               <div class="profile">
                                   <h2>Mariana Jardim Senhor</h2>
                                   <div class="d-flex">
                                       <img src="~/images/profile/mjs_resized.jpeg" alt="foto de perfil" class="img-profile">
                                   
                                           <p class="img-p">Trabalho na documentação do projeto, desenvolvimento dos diagrama de caso de uso, bem como do DER (Diagrama Entidade Relacionamento), pesquisas com usuários para avaliação da ideia original do projeto e prototipação das telas e as referências de todos os trabalho utilizados na aplicação.</p>
                                   </div>
                               </div>
                           
                               <div class="profile">
                                   <h2>Pedro Augusto Pivetta</h2>
                                   <div class="d-flex">
                                       <img src="~/images/profile/pp_resized.jpeg" alt="foto de perfil" class="img-profile">
                                   
                                           <p class="img-p">Atuou na programação e testagem das funcionalidades (Back End), implementou todos os links, utilizando a linguagem de programação C#, levando em conta que o projeto foi desenvolvido utilizando a técnologia MVC (Model View Controller) e as ferramentas Visual Studio e Visual Studio Code</p>
                                   </div>
                               </div>
                               
                           
                           <div class="profile">
                               <h2>Pedro Henrrique Oliveira</h2>
                               <div class="d-flex">
                                   <img src="~/images/profile/po.jpeg" alt="foto de perfil" class="img-profile">
                                   
                                       <p class="img-p">Atuou na programação das partes visuais da nossa aplicação, desenvolveu as telas, selecionou e editou as imagens bem como criou o nosso logotipo, selecionou a dedo a paleta de cores que vei a compor este projeto, utilizando as liguagens HTML, CSS, JS e auxilio do Bootstrap.
                                       </p>
                               </div>
                           </div>
                           <div class="profile">
                               <h2>Guilherme Henrrique</h2>
                               <div class="d-flex">
                               <img src="~/images/profile/gh.jpeg" alt="foto de perfil" class="img-profile">
                                   <p class="img-p">Desenvolvedor dos jogos que foram utilizados em nosso web site, os jogos foram criados utilizando a plataforma de criação Construct, que apesar não nos ter sido ensinado o seu manuseio, com empenho e dedicação houve a possibilidade da criação dos nosso jogos.</p>
                               </div>
                           </div>
                       </div>
                   </div>
      </div>
  </div>


        